In [2]:
import numpy as np
import pandas as pd



np.random.seed(0)  


n_samples = 100
visitor_ids = np.random.randint(1000, 9999, size=n_samples)
visit_numbers = np.random.choice([1, 2, 3, 4, 5], size=n_samples, p=[0.5, 0.2, 0.15, 0.1, 0.05])
transaction_ids = [None if np.random.rand() > 0.2 else np.random.randint(10000, 99999) for _ in range(n_samples)]
transaction_revenues = [None if tid is None else np.random.uniform(50, 500) for tid in transaction_ids]


toy_data = pd.DataFrame({
    'visitorId': visitor_ids,
    'visitNumber': visit_numbers,
    'transactionId': transaction_ids,
    'transactionRevenue': transaction_revenues
})


toy_data.head()

   visitorId  visitNumber  transactionId  transactionRevenue
0       3732            1            NaN                 NaN
1       4264            1            NaN                 NaN
2       5859            2            NaN                 NaN
3       8891            1        71073.0          196.389637
4       5373            1            NaN                 NaN